@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
  margin: 0 auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  max-width: 100%;
  max-height: 100%;
}

body {
  color: #555;
  padding: 0;
  margin: 0;
}

body background-image {
  filter: brightness(0.5);
}

header {
  background-color: #333;
  height: 140px;
  padding: 20px;
  width: 100%;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

#logo {
  height: 100%;
}

#search {
  float:right;
  display: block;
}

#search button {
  border-color: #333;
  height: 50px;
}

#bg {
  filter: brightness(0.5);
  width: 100%;
}


#nav {
  background: #333;
}

#nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#nav li {
  float:left;
}

#nav li a {
  display: inline-block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

#nav li a:hover {
  background-color: #555;
}

#main {
  position: relative;

}

#content {
  width: 70%;
  margin: auto;
  position: absolute;
  left: 14%;
  top: 40px;
  color: #F2F2F2;
}

#f2p, #sale{
  max-width: 350px;
  background-color: #333;
  border-radius: 5px;
}

#map {
  max-width: 100;
}


#summary {
  width: 100%;
  background-color: #333;
  border-radius: 5px;
  padding: top: 15px;
  padding: bottom: 15px;
}

#summary h1, h2 {
  margin: 20px;
}

#icon {
  border-radius: 4px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  float: left;
  margin: 10px 10px 10px 10%;
}

#topstuff {
  width: 100%;
  display: inline-block;
}

#ranks {
  text-align: center;
}

#rank {
  width: 50%;
}

#series {
  width: 10%;
}
#sale {
  margin-top: 40px;
}

#solo, #flex {
  margin: 10px;
  width: 39%;
  display: inline-block;
  background-color: #334;
  border-radius: 3px;
  border-style: solid;
  border-color: inherit;
  vertical-align: top;
}

#rhr {
  width: 80%;
}

#f2p img{
  width: 70px;
  padding: 5px;
}

#sale img{
  width: 330px;
  margin: 10px;
}

#matches {
  background-color: #334;
  border-radius: 3px;
  border-style: solid;
  border-color: inherit;
  max-width: 80%;
  margin: 10px 10px 10px 10%;
}

#won {
  margin: 0 10px 0 3%;
  display: inline-flex;
  text-align: center;
}

#lost {
  margin: 0 10px 0 3%;
  display: inline-flex;
  text-align: center;
}

#champ {
  max-width: 80px;
  margin: 10px 15px 10px 0;
}

#spell{
  max-width: 30px;
  margin: 9px 3px 10px 0;
}

#spells {
  margin-right: 15px;
}

#info {
  text-align: center;
  margin-top: 5px;
  margin-right: 15px;
}

#win {
  color: green;
}

#lose {
  color: red;
}

#itemstat {
  margin-top: 10px;
  margin-right: 25px;
}

#item {
  background-color: black;
  width: 35px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

#stats {
  margin-top: 10px;
  display: inline-flex;
}

#stattext {
  font-size: 20px;
}

#matches h3{
  margin: 0;
  padding: 0;
}

#matches h4{
  margin: 0;
  padding: 0;
}

#time {
  margin-top: 20px;
  text-align: center;
}
